fastapi
uvicorn[standard]
pydantic==2.11.10
langchain==0.3.27
chromadb==1.1.0
sentence-transformers==5.1.1
transformers==4.57.0
openai            # if you use OpenAI
llama-cpp-python  # if using local Llama via llama-cpp-python
ollama            # if you use Ollama (cli / py client)
gunicorn
python-multipart  # file uploads
requests
tqdm
psutil==7.1.0
langdetect==1.0.9
PyMuPDF==1.26.4
PyYAML==6.0.3
safetensors==0.6.2
scikit-learn==1.7.2
scipy==1.15.3

